*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.first__wrapper{
    width: 1280px;
    margin: 15px auto;
}
label, input {
    display: block;
    margin-bottom: 5px;
    padding-top: 3px;
}
