*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#form1__wrapper{
    display: flex;
    gap: 20px;
}
.first__wrapper{
    width: 1280px;
    margin: 15px auto;
}